body {
  background: url('../img/Electrica/ele15.jpg') no-repeat center center fixed;
  background-size: cover;
  position: relative;
  
}

.logo{
  width: 60px;
  height: 60px;
}

  .wordart-container {
    text-align: center;
    margin: 20px 0;
    padding-top: 400px;
  }

  .wordart-text {
    font-family: "Anta", sans-serif;
    font-weight: bold;
    font-style:italic;
    font-size: 60px;
    text-shadow: 2px 2px 4px black;
   
  }
  .wordart-text-small {
    font-family: "Anta", sans-serif;
    font-weight: bold;
    font-style:italic;
    font-size: 40px;
    text-shadow: 2px 2px 4px black;
  }

  .whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
  }

  .whatsapp-float img {
    width: 60px;
    height: 60px;
  }
  .jum-img {
    filter: brightness(50%);
  }
.resize{
  object-fit: cover;
}
.nav-link {
  position: relative;
  transition: color 0.3s;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 6px;
  background-color: #007bff;
  bottom: 0;
  left: 0;
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}
.imagen_torno{
  width: 250px; 
  height: 200px;
}

@media (max-width: 400px) {
  body {
    background-size: cover;
  }

  .logo {
    width: 40px;
    height: 40px;
  }

  .wordart-text {
    font-size: 30px;
  }

  .wordart-text-small {
    font-size: 20px;
  }

  .whatsapp-float img {
    width: 50px;
    height: 50px;
  }

  .nav-link::after {
    height: 4px;
  }
  .imagen_torno{
    width: 180px;
    height: 100px;
  }
}

@media (max-width: 800px) {
  body {
    background-size: cover;
  }

  .logo {
    width: 40px;
    height: 40px;
  }

  .wordart-text {
    font-size: 30px;
  }

  .wordart-text-small {
    font-size: 20px;
  }

  .whatsapp-float img {
    width: 50px;
    height: 50px;
  }

  .nav-link::after {
    height: 4px;
  }
  .imagen_torno{
    width: 180px;
    height: 100px;
  }
  .tam_menu{
    width: 100%;
  }
}

