  .navbar-nav .nav-link {
    position: relative;
    transition: all 0.3s ease;
  }

  .navbar-nav .nav-link:hover {
    color: #0833a2 ;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.7);
  }

  .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #0833a2;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
  }

  .whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
  }

  .whatsapp-float img {
    width: 60px;
    height: 60px;
  }
  .jum-img {
    filter: brightness(50%);
  }
.resize{
  object-fit: cover;
}
.nav-link {
  position: relative;
  transition: color 0.3s;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 6px;
  background-color: #007bff;
  bottom: 0;
  left: 0;
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}
